[submodule "external/sleepy-discord"]
	path = external/sleepy-discord
	url = https://github.com/yourWaifu/sleepy-discord.git
[submodule "external/openssl-cmake"]
	path = external/openssl-cmake
	url = https://github.com/janbar/openssl-cmake.git
